{% extends 'base.html' %}

{% block content %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, voluptatum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id iste voluptatibus ut ipsum, corrupti, dignissimos a nobis maiores facilis quibusdam culpa et sunt ipsa architecto neque hic aspernatur reprehenderit autem quia voluptates optio possimus. Eveniet, dolorum iure. Architecto deleniti veritatis perspiciatis asperiores dolore ratione expedita in esse, repellendus voluptatem iste!</p>
{% endblock %}